<div class="d-flex justify-content-center" *ngIf="isLoading">
  <div class="spinner-border m-5" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>
<div class="d-flex flex-column flex-lg-row flex-wrap" *ngIf="!isLoading">
  <app-series-list-item *ngFor="let series of animeSeries" [series]="series"></app-series-list-item>
</div>
<ngb-pagination
  class="d-flex justify-content-center"
  [rotate]="true"
  [ellipses]="true"
  [maxSize]="5"
  *ngIf="totalSeries > perpage"
  [page]="page"
  [pageSize]="perpage"
  [collectionSize]="totalSeries"
  (pageChange)="changePage($event)"></ngb-pagination>
